{% extends "base.html" %} {% block content %}
<div class="container">
    <!-- heading -->
    <div class="jumbotron jumbotron-fluid cstm_jumb">
        <div class="container">
            <h1 class="display-4">Look for an activity?</h1>
            <p class="lead">Select an activity from below.</p>
        </div>
    </div>
    <!-- Select Menus -->
    <select class="form-control cstm_select" id="age_group" name="age_group">
            <option value="" disabled selected>Choose an age group</option>
               {% for age in ages %}
            <option value="{{age.age_group.capitalize()}}">{{age.age_group.capitalize()}}</option>
               {% endfor %}
    </select>

    <select class="form-control cstm_select" id="activity_duration" name="activity_duration">
            <option value="" disabled selected>Choose an duration</option>
               {% for duration in durations %}
            <option value="{{duration.activity_duration.capitalize()}}">{{duration.activity_duration.capitalize()}}</option>
               {% endfor %}
    </select>


    <!-- Cards -->
    <div class="row">
        {%for activity in activities %}


        <div class="col-lg-4 col-md-6 col-sm col-xs-12">
            <div class="card cstm_card accordion" id="accordionExample" style="width: 18rem;">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91TPy6s2TzL._SX425_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> {{activity.activity_name}} </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Age:</strong> {{activity.age_group.capitalize()}}</li>
                    <li class="list-group-item"><strong>Duration:</strong> {{activity.activity_duration.capitalize()}}</li>
                    <li class="list-group-item"><strong>Equipment:</strong> {{activity.equipment.capitalize()}}</li>
                </ul>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          View Details
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                {{activity.details.capitalize()}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>

{% endblock %}
