{% extends "base.html" %} {% block content %}
<div class="container">
    <!-- Heading -->
    <div class="jumbotron jumbotron-fluid cstm_jumb">
        <div class="container">
            <h1 class="display-4 add_title"><strong>Add an Activity</strong></h1>
            <p class="lead">Add an activity, game or idea of your own.</p>
        </div>
    </div>

    <!--forum -->
    <form action="{{url_for('insert_activity')}}" method="POST">
        <div class="form-group">
            <i class="fas fa-images fa-1x "></i>
            <label class="forum_text" for="activity_image">Image URL</label>
            <input type="text" class="form-control add_forum" id="activity_image" name="activity_image" placeholder="Enter Text Here" required>
        </div>
        <div class="form-group">
            <i class="fas fa-shapes fa-1x "></i>
            <label class="forum_text" for="activity_name">Activity Name</label>
            <input type="text" class="form-control add_forum" id="activity_name" name="activity_name" placeholder="Enter Text Here" required>
        </div>
        <div class="form-group">
            <i class="fas fa-baby "></i>
            <label class="forum_text" for="age_group">Age Group</label>
            <select class="form-control add_forum" id="age_group" name="age_group" required>
               <option value="" disabled selected>Choose an age group</option>
                 {% for age in ages %}
               <option value="{{age.age_group}}">{{age.age_group.capitalize()}}</option>
                 {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <i class="fas fa-stopwatch "></i>
            <label class="forum_text" for="activity_duration">Duration</label>
            <select class="form-control add_forum" id="activity_duration" name="activity_duration" required>
                <option value="" disabled selected>Choose Duration</option>
                {% for duration in durations %}
                <option value="{{duration.activity_duration}}">{{duration.activity_duration.capitalize()}}</option>
                {% endfor %}
            </select>

        </div>
        <div class="form-group">
            <i class="fas fa-tools "></i>
            <label class="forum_text" for="equipment">Equipment</label>
            <input type="text" class="form-control add_forum" id="equipment" name="equipment" placeholder="Enter Text Here" required>
        </div>

        <div class="form-group">
            <i class="far fa-edit "></i>
            <label class="forum_text" for="details">Details</label>
            <textarea class="form-control add_forum" id="details" name="details" rows="3" required></textarea>
        </div>

        <button class="btn btn-primary my_button add_forum" type="submit" name="action">Add Activity</button>
    </form>
</div>
{% endblock %}
