<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Treasure Chest</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">

  <!-- CDN for Bootstrap core CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" /> -->

  <!-- Custom styles for this template -->
  <link href="static/css/small-business.css" rel="stylesheet">
  
  <!-- Custom styles-->
  <link href="static/css/style.css" rel="stylesheet">
  
  <!-- Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Butterfly+Kids&display=swap" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top cstmnav">
    <div class="container">
      <a class="navbar-brand nav_txt" id="btstrap-override" href="{{url_for('get_activities')}}">Treasure Chest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" id="nav-override">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="cstm_nav_lnk" href="{{url_for('get_activities')}}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('activity_view')}}">View Activities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('add_activity')}}">Create Activity</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %} {% endblock %}



<!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Neil Foster 2019</p>
    </div>
<!-- /.container -->
  </footer>

<!-- Bootstrap core JavaScript -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>

<!-- Font Awesome js-->
  <script src="https://kit.fontawesome.com/8aa891fdce.js" crossorigin="anonymous"></script>
</body>

</html>
