{% extends "base.html" %} {% block content %}

<!-- Page Content -->
<div class="container">

  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="static/images/main-img.jpg" alt="kid with paint">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <h1 class="font-weight-light home_title">Creative Kids</h1>
      <p>Clever ideas for spending quality bonding time with your children for todays busy lifestyle. From short activites to all day long adventures. Explore the wonder of creativity with your kids.</p>
      <a class="btn btn-primary" href="{{url_for('activity_view')}}">See More!</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-5  text-center">
    <div class="card-body cstm_jumb_home">
      <p class="text-white m-0">Parents are the best toys, and children will learn a lot of language when they share play activities with their parents</p>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title home_title">Babies</h2>
          <p class="card-text">Toys for babies don’t need to be expensive. They can be things you have around the house, as long as they are unbreakable, safe (no loose parts, broken pieces or sharp edges), and the right size (anything that can fit through a paper towel roll is too small).</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title home_title">Toddlers</h2>
          <p class="card-text">It may look like fun and games to you, but for toddlers, all that play is hard work.As your toddler goes through his busy day zooming he’s solving problems, boosting his language skills, learning about people, discovering scientific and math principles (really!), and sharpening his creativity and imagination.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title home_title">Big Kids</h2>
          <p class="card-text">Kids’ lives are overscheduled now more than ever before and all those activities are taking a bite out of their free playtime.For bigger kids, playing and doing activities with their parents or siblings provides much needed free playtime away from the over scheduled lives that most kids have to put up with in this modern age.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}
</body>

</html>
